{% extends 'base.twig' %}

<h1>Blog en PHP</h1>
<p>En construction</p>

{% block content %}
    <h1>Article :{{ article.id}}/{{ article.title}}</h1>
    <div class="container">
        <div class="post-preview">
            {% for article in articles %}
                <h1>{{ article.title }}</h1>
                <p>{{ article.chapo }}</p>
                <p>{{ article.author }}</p>
                <p>{{ article.date_added }}</p>
                <hr>

            {% endfor %}
        </div>
    </div>
    <hr>
    <h1>Commentaires sur l'article :{{ loop.index}}{{ article.title}}</h1>
    <div class="container">
        <div class="post-preview">
            {% for comment in comments %}
                <h1>{{ comment.pseudo }}</h1>
                <p>{{ comment.content }}</p>
                <p>posté le :{{ comment.date_added }}</p>
                <hr>

            {% endfor %}
        </div>
    </div>
{% endblock %}
<br>
<a href="../public/index.php">Retour à la liste des articles</a>
<div id="comments" class="text-left" style="margin-left: 50px">
    <h4>Ajouter un commentaire :</h4>
    <div>
        <form method="post" action="../public/index.php?route=addComment"> 
            <label type="pseudo">Pseudo</label><br>
            <input type="text" id="pseudo" name="pseudo" required value="<?php
                if(isset($post['pseudo'])){  //Penser à mettre des contraintes dans input form et verif route addComment...
                    echo $post['pseudo'];}
            ?>"><br>
            <label for="content">Message</label><br>
            <textarea id="content" name="content" row="5" required value="<?php 
                if(isset($post['content'])){
                    echo $post['content'];}
            ?>">
            </textarea><br>
            <input type="hidden" name="article_id" id="article_id" value="<?= htmlspecialchars($article->getId());?>" >
            <input type="submit" value="Envoyer" id="submit" name="submit">
        </form>
    </div>
</div>
